.pop-lay{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.8);z-index:101;overflow-y:auto;}

.pop-box{
	position: fixed;
	top:50%;
	left:50%;
	transform:translate3d(-50%,-50%,0);
	text-align:center;
}
