/*media*/
@media (min-width:1081px) and (max-width:1920px){
	html{font-size:100px;}
	.icvip{zoom:3.2;}
}
@media (min-width:1025px) and (max-width:1080px){
	html{font-size:100px;}
	.icvip{zoom:3.2;}
}
@media (min-width:961px) and (max-width:1024px){
	html{font-size:100px;}
	.icvip{zoom:2.4;}
}
@media (min-width:801px) and (max-width:960px){
	html{font-size:150px;}
	.icvip{zoom:2.4;}
}
@media (min-width:770px) and (max-width:800px){
	html{font-size:125px;}
	.icvip{zoom:2.4;}
}
@media (min-width:751px) and (max-width:769px){
	html{font-size:120px;}
	.icvip{zoom:2.4;}
}
@media (min-width:721px) and (max-width:750px){
	html{font-size:117.1875px;}
	.icvip{zoom:2.4;}
}
@media (min-width:641px) and (max-width:720px){
	html{font-size:112.5px;}
	.icvip{zoom:2;}
}
@media (max-width:640px){
	html{font-size:100px;}
	.icvip{zoom:2;}
}
@media (max-width:600px){
	html{font-size:93.75px;}
	.icvip{zoom:1.68;}
}
@media (max-width:540px){
	html{font-size:84.375px;}
	.icvip{zoom:1.5;}
}
@media (max-width:500px){
	html{font-size:78.125px;}
}
@media (max-width:480px){
	html{font-size:75px;}
	.icvip{zoom:1.29;}
}
@media (width:435px){
	html{font-size:67.96875px;}
}
@media (width:432px){
	html{font-size:67.5px;}
}
@media (max-width:414px){
	html{font-size:64.6875px;}
	.icvip{zoom:1.25;}
}
@media (max-width:400px){
	html{font-size:62.5px;}
}
@media (width:393px){
	html{font-size:61.40625px;}
	.icvip{zoom:1.228;}
}
@media (max-width:384px){
	html{font-size:60px;}
}
@media (max-width:375px){
	html{font-size:58.59375px;}
	.icvip{zoom:1.125;}
}
@media (max-width:360px){
	html{font-size:56.25px;}
	.icvip{zoom:1.2;}
}
@media (max-width:320px){
	html{font-size:50px;}
	.icvip{zoom:1;}
}
html{font-size:15.625vw;}