<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="keywords" content="">
	<meta name="description" content="">
	<title></title>
	<link rel="stylesheet" href="css/reset-min.css">
	<link rel="stylesheet" href="css/style.css">
	<style>
		.pop-box{
			position: relative;
			top:0;
			left: 0;
			transform:none;
			margin:10px auto;
		}
	</style>
</head>
<body>
	<div class="pop-lay">
		<div class="pop-box">
			
		</div>
	</div>
	<script type="text/javascript">
		document.body.addEventListener('touchstart', function () { });
	</script>
</body>
</html>	